body {
	background: #333;
	color: #ccc;
	padding: 20px;

	h1 {
		color: rgb(226, 226, 151);
		margin: 0;
	}

	form {
		.row {
			margin: 0 0 0.5rem 0;
			input {
				display: block;
			}
			::placeholder {
				color: #888;
			}
			div.info {
				font-size: 0.6rem;
				color: rgb(238, 153, 153);
			}
		}
	}
	.formData {
		background: #444;
		padding: 1px 10px;
		margin: 20px 0 0 0;
	}

	p {
		margin: 0;
		font-size: .9rem;
	}

	.intro {
		margin: 0 0 10px 0;
		code {
			color: rgb(87, 165, 42);
			font-family: 'Courier New', Courier, monospace;
			font-weight: bold;
			background: #222;
		}
	}
}
